<div>
    <div>
        <h2>Modificar Carta</h2>
        <p>Añade, modifica y elimina productos</p>
       
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" [(ngModel)]="newDish.name" placeholder="Nuevo nombre...">
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="newDish.description" placeholder="Nueva descripción...">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="newDish.price">
                    </td>
                    <td>
                        <select [(ngModel)]="newDish.category">
                            <option value="entrantes">Entrantes</option>
                            <option value="burguers">Burguers</option>
                            <option value="brasa">Brasa</option>
                            <option value="postres">Postres</option>
                        </select>
                    </td>
                    <td>
                        <button (click)="createDishes(newDish)">➕ Guardar Nuevo</button>
                    </td>
                </tr>

                @for (dishes of editCarta(); track dishes._id) {
                <tr>
                    <td>
                        <input type="text" [(ngModel)]="dishes.name">
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="dishes.description">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="dishes.price">
                    </td>
                    <td>
                        <select [(ngModel)]="dishes.category">
                            <option value="entrantes">Entrantes</option>
                            <option value="burguers">Burguers</option>
                            <option value="brasa">Brasa</option>
                            <option value="postres">Postres</option>
                        </select>
                    </td>
                    <td>
                        <button (click)="updateDishes(dishes)">💾 Guardar</button>
                        <button (click)="deleteDishes(dishes)">🗑️ Eliminar</button>
                    </td>
                </tr>
                } @empty {
                <tr>
                    <td colspan="5">Cargando productos...</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>