<nav class="navbar">
  <div class="nav-left">
    <a routerLink="/" class="logo">
      <img src="assets/img-rustic/logo-2.jpg" alt="Can Rústic" />
    </a>
  </div>

  <div class="nav-center">
    <a routerLink="/">Inicio</a>
    <a routerLink="/carta">Carta</a>
    <a routerLink="/reserva">Reservar Mesa</a>
  </div>

  <div class="nav-right">
    @if (authService.isLogged()) {
      <div>
        <a routerLink="/my-reservation">Mis reservas</a>
      </div>
    }
    @if (authService.isAdmin()) {
      <div class="dropdown">
        <button class="dropbtn" (click)="toggleDropdown()">Gestión ⚙️ ▾</button>
        <div class="dropdown-content" [class.show]="isOpen">
          <a routerLink="/edit-carta">Editar Carta</a>
          <a routerLink="/all-reservas">Ver Reservas</a>
        </div>
      </div>
    }
    @if (authService.isLogged()) {
      <a routerLink="/logout" class="nav-link logout"> Cerrar Sesión </a>
    } @else {
      <a routerLink="/login">Iniciar Sesión</a>
      <a routerLink="/register" class="nav-button">Registro</a>
    }
  </div>

  <!-- Menu hamburguesa movil -->
  <button class="hamburger" (click)="toggleMenu()" [class.active]="menuOpen">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>

<!-- Menu hamburguesa movil -->
<div class="mobile-menu" [class.open]="menuOpen">
  <div class="mobile-overlay" (click)="toggleMenu()"></div>
  <nav class="mobile-nav">
    <a routerLink="/" (click)="toggleMenu()">Inicio</a>
    <a routerLink="/carta" (click)="toggleMenu()">Carta</a>
    <a routerLink="/reserva" (click)="toggleMenu()">Reservar Mesa</a>
    @if (authService.isLogged()) {
      <a routerLink="/my-reservation" (click)="toggleMenu()">Mis reservas</a>
    }
    @if (authService.isAdmin()) {
      <a routerLink="/edit-carta" (click)="toggleMenu()">Editar Carta</a>
      <a routerLink="/all-reservas" (click)="toggleMenu()">Ver Reservas</a>
    }
    @if (authService.isLogged()) {
      <a routerLink="/logout" (click)="toggleMenu()">Cerrar Sesión</a>
    } @else {
      <a routerLink="/login" (click)="toggleMenu()">Iniciar Sesión</a>
      <a routerLink="/register" class="mobile-nav-btn" (click)="toggleMenu()">Registro</a>
    }
  </nav>
</div>

<router-outlet></router-outlet>
@if (!isAdminRoute()) {
  <app-footer />
}