<section>
    <h1>Para Compartir</h1>
    @for (dish of getCategoryDishes ('entrantes'); track dish._id){
        <h3>{{dish.name}}</h3>
        <span>{{dish.price}}€</span>
    }
</section>
<section>
    <h1>Brasa</h1>
     @for (dish of getCategoryDishes ('brasa'); track dish._id){
        <h3>{{dish.name}}</h3>
        <span>{{dish.price}}€</span>
    }
</section>
<section>
    <h1>Burguers</h1>
     @for (dish of getCategoryDishes ('burguers'); track dish._id){
        <h3>{{dish.name}}</h3>
        <p>{{dish.description}}</p>
        <span>{{dish.price}}€</span>
    }
</section>
<section>
    <h1>Cocas</h1>
     @for (dish of getCategoryDishes ('cocas'); track dish._id){
        <h3>{{dish.name}}</h3>
        <p>{{dish.description}}</p>
        <span>{{dish.price}}€</span>
    }
</section>
<section>
    <h1>Postres</h1>
     @for (dish of getCategoryDishes ('postres'); track dish._id){
        <h3>{{dish.name}}</h3>
        <span>{{dish.price}}€</span>
    } 
</section>